body {
    background-color: #000000;
    font-family: sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    padding: 30px 0;
    z-index: 5;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    left: 5%;
}
@media screen and (min-width: 600px) {
    header {
        width: 75%;
        left: 12.5%;
        grid-template-columns: 1fr 2fr;
    }
}

header a.logo {
    display: block;
}

header .logo svg {
    height: 1.5rem;
    width: 6.5 rem;
    fill: rgb(229,9,20);
}
@media screen and (min-width: 600px){
    header .logo svg {
        height: 2.5rem;
        width: 9.5 rem;
    }
}

header div+div {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 5px;
    justify-content: right;
}

header div.select {
    display: inline-block;
    position: relative;
}
@media screen and (min-width: 600px){
    header div.select {
        margin-right: 30px;
    }
}

header select {
    color: #ffffff;
    background-color: transparent;
    padding: 15px 0 17px 35px;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
    font-size: 0;
}
@media screen and (min-width: 600px){
    header select {
        font-size: 20px;
        padding: 6px 40px 6px 30px;
    }
}

header div.select svg {
    height: 1.3rem;
    padding: 4px;
    position: absolute;
    margin: 0;
}
@media screen and (min-width: 600px) {
    header div.select svg {
        height: 1rem;
        padding: 0;
        margin: 8px 8px 0 8px;
    }
}

header div+div a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(229,9,20);
    padding: 7px 17px;
    border-radius: 0.25rem;
}

div.splash div.background {
    position: relative;
    overflow: hidden;
} 

div.splash div.gradient {
    position: absolute;
    z-index: 3;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    inset: 0;
}

div.splash div.background img {
    height: 100vh;
    opacity: 60%;
}
@media screen and (min-width: 600px) {
    div.splash div.background img {
        height: inherit;
    } 
}

div.splash div.content {
    display: grid;
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 7rem;
    z-index: 5;
}
@media screen and (min-width: 600px) {
    div.splash div.content {
        top: 16rem;
    } 
}

div.splash div.content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
@media screen and (min-width: 600px) {
    div.splash div.content h1 {
        font-size: 3rem;
        font-weight: 1000;
    } 
}

div.splash div.content h2 {
    font-size: 1.25rem;
    font-weight: 500;
}
@media screen and (min-width: 600px) {
    div.splash div.content h2 {
        font-size: 1.5rem;
    } 
}

div.splash div.content h3 {
    font-size: 1rem;
    font-weight: 500;
}
@media screen and (min-width: 600px) {
    div.splash div.content h3 {
        font-size: 1.25rem;
    } 
}

div.splash form, div.faq form {
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    margin: 30% auto 0 auto;
    position: relative;
    gap: 10px;
}
@media screen and (min-width: 600px) {
    div.splash form, div.faq form {
        margin: auto;
        grid-template-columns: 1fr max-content;
        gap: 0;
    }
}

div.splash input ~ span, div.faq input ~ span {
    position: absolute;
    top: 22px;
    left: 20px;
    z-index: 3;
    transition: all .3s ease;
    pointer-events: none;
}

div.splash input:focus ~ span, div.faq input:focus ~ span {
    top: 10px;
    font-size: .7rem;
}

div.splash form input, div.faq form input {
    width: 100%;
    box-sizing: border-box;
    border: 0.5px solid #ffffff;
    color: #ffffff;
    background-color: #000000;
    padding: 1.5rem 1rem .5rem;
    border-radius: .25rem;
    font-size: 1rem;
    opacity: 50%;
}

div.splash form button, div.faq form button {
    color: #ffffff;
    background-color: rgb(229,9,20);
    border: none;
    padding: 15px 30px;
    border-radius: .25rem;
    font-weight: bold;
    font-size: 1rem;
}
@media screen and (min-width: 600px) {
    div.splash form button, div.faq form button {
        font-size: 1.5rem;
        margin-left: 10px;
    }
}

section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 7.5px;
    padding: 30px;
    border-bottom: 8px solid #666;
    align-items: center;
    position: relative;
}
@media screen and (min-width: 600px) {
    section {
        grid-template-columns: 1fr 1fr;
        padding: 90px 200px;
    }
}

section:first-of-type {
    border-top: 8px solid #666;
    margin-top: -5px;
    z-index: 3;
    padding-top: 40px;
}

@media screen and (min-width: 600px) {
    section:nth-child(even) .text {
        order: 2;
    }
}

section div.media img {
    max-width: 100%;
}

section div.text h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
@media screen and (min-width: 600px) {
    section div.text h1 {
        order: 2;
        text-align: left;
    }
}

section div.text p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
@media screen and (min-width: 600px) {
    section div.text p {
        text-align: left;
    }
}

section.s1 img {
    /* position: relative; */
    z-index: 5;
}

section.s1 video {
    height: 60%;
    position: absolute;
    left: 30px;
}
@media screen and (min-width: 600px) {
    section.s1 video {
        height: 220px;
        position: absolute;
        top: 120px;
        left: 800px;
    }
}

section.s2 img {
    position: relative;
    z-index: 5;
}

section.s2 video {
    width: 340px;
    position: absolute;
    top: 120px;
    left: 290px;
}

section.s3 img {
    position: relative;
    z-index: 5;
}

section.s4 div.download {
    height: 90px;
    width: 300px;
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 5px 15px;
    border: 2px solid #666;
    border-radius: .5rem;
    background-color: #000000;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 335px;
    left: 295px;
}

section.s4 div.download img {
    height: 80px;
    margin: auto;
}

section.s4 div.download h1 {
    font-size: 1rem;
    margin: 0;
    margin-top: 10px;
}

section.s4 div.download p {
    font-size: .875rem;
    color: #0071eb;
    margin-top: 10px;
}

div.faq {
    padding: 70px 0;
    text-align: center;
    border-bottom: 8px solid #666;
}

div.faq h1 {
    font-size: 3rem;
    font-weight: 900;
}

div.faq div.questions {
    max-width: 1100px;
    margin: 0 auto;
}

div.faq div.question {
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(45,45,45);
    margin-bottom: 10px;
}

div.faq div.question input[type = "checkbox"] {
    display: none;
}

div.faq div.question input[type = "checkbox"]:checked ~ div.answer {
    padding: 30px;
    max-height: 600px;
    border-top: 1px solid #000000
}

div.faq div.question input[type = "checkbox"]:checked ~ label.header svg {
    transform: rotate(225deg);
}

div.faq div.question label.header {
    position: relative;
    cursor: pointer;
}

div.faq div.question label.header:hover h2 {
    background-color: rgb(80, 80, 80);
}

div.faq label.header h2 {
    padding: 35px;
    text-align: left;
    margin: 0;
    transition: all .3s ease;
}

div.faq label.header svg {
    height: 50px;
    position: absolute;
    top: 23px;
    right: 30px;
    transition: all .5s ease;
}

div.faq div.question div.answer {
    text-align: left;
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;
}

div.faq div.question div.answer p {
    font-size: 25px;
}

div.faq h3 {
    margin-top: 90px;
}